.row {
  display: flex;
  flex-direction: row;
}
.col {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1 {
  width: 8.333333%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-2 {
  width: 16.666666%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-3 {
  width: 24.999999%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-4 {
  width: 33.333332%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-5 {
  width: 41.666665%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-6 {
  width: 49.999998%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-7 {
  width: 58.333331%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-8 {
  width: 66.666664%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-9 {
  width: 74.999997%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-10 {
  width: 83.33333%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-11 {
  width: 91.666663%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
.col-12 {
  width: 99.999996%;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
}
