@width1: 8.333333%;
@padding-top: 16px;

.padding-col(@wd)
{
	width: @wd;
	display: flex;
	flex-direction: column;
	// flex: 0 0 @wd;
	padding-left: 15px;
	padding-right: 15px;
}

.padding(@mnog, @tbrl)when(@tbrl = 1)
	{
		padding-top: @padding-top*@mnog !important;
	}
.padding(@mnog, @tbrl)when(@tbrl = 2)
	{
		padding-bottom: @padding-top*@mnog !important;
	}
.padding(@mnog, @tbrl)when(@tbrl = 3)
	{
		padding-right: @padding-top*@mnog !important;
	}
.padding(@mnog, @tbrl)when(@tbrl = 4)
	{
		padding-left: @padding-top*@mnog !important;
	}

.padding-napr(@napr)
{
		&-0
		{
			.padding(0, @napr);
		}
		&-1
		{
			.padding(0.25, @napr);
		}
		&-2
		{
			.padding(0.5, @napr);
		}
		&-3
		{
			.padding(1, @napr);
		}
		&-4
		{
			.padding(1.5, @napr);
		}
		&-5
		{
			.padding(3, @napr);
		}
}

.row
{
	display: flex;
	flex-direction: row;
}
.p
{
	&t
	{
		.padding-napr(1);
	}
	&b
	{
		.padding-napr(2);
	}
	&l
	{
		.padding-napr(3);
	}
	&r
	{
		.padding-napr(4);
	}
}
.col
{		
	padding-left: 15px;
	padding-right: 15px;
	&-1
	{
		.padding-col(@width1*1);
	}
	&-2
	{
		.padding-col(@width1*2);
	}
	&-3
	{
		.padding-col(@width1*3);
	}
	&-4
	{
		.padding-col(@width1*4);
	}
	&-5
	{
		.padding-col(@width1*5);
	}
	&-6
	{
		.padding-col(@width1*6);
	}
	&-7
	{
		.padding-col(@width1*7);
	}
	&-8
	{
		.padding-col(@width1*8);
	}
	&-9
	{
		.padding-col(@width1*9);
	}
	&-10
	{
		.padding-col(@width1*10);
	}
	&-11
	{
		.padding-col(@width1*11);
	}
	&-12
	{
		.padding-col(@width1*12);
	}
}